.jumbotron{
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
	overflow: hidden;
}
.jumbotron h1,p{
	color: #eaeaea;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	margin-bottom: 0;
}
.jumbotron img{
	width: 120px;
	height: 120px;
	border: 4px solid #eaeaea;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.navSearch{
	margin-left: 17px;
	margin-right: 17px;
	transform: translate(0, -30px);
}
.styleNav{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #2c3e50;
	border-radius: 4px;
}
.table{
	margin-top: -20px;
}
.style-page{
	margin-top: -20px;
	background-color: #34495e;	
	border-radius: 4px;
}
.pagination{
	margin:0;
	padding: 5px;
}
.pagination .paging{
	cursor: pointer;
}

.bgfooter{
	margin-top:-15px;
	margin-left: 17px;
	margin-right: 17px;
}
.footer{
	background-color: #203040;
	height: 80px;
	margin-bottom: 0;
	padding: 10px;
	color: #eaeaea;
	border-radius: 4px 4px 0 0;
}